.btn {
	@include animate(background-color border color, .3s)
	display: inline-block;
	padding: 0 40px;
	line-height: 48px;
	font-size: 16px;
	letter-spacing: 0.8px;
	color: map-get($colors, 'black-1');
	border: 1px solid map-get($colors, 'black-1');
	border-radius: 40px;
	text-transform: uppercase;
	text-decoration: none;
	&:hover {
		background-color: map-get($colors, 'gold');
		color: map-get($colors, 'white');
		border: 1px solid transparent;
	}

}

.form-btn {
	@include animate(opacity, .3s)
	width: 100%;
	padding: 5px 20px;
	background-color: map-get($colors, 'gold');
	line-height: 24px;
	color: map-get($colors, 'white');
	border: 0;
	&:hover {
		opacity: .7;
	}
}