.carousel-wrapper {
	padding: 113px 0;
	background-color: map-get($colors, 'gray-light-2');
	text-align: center;
	h2 {
		margin-bottom: 90px;
	}
	p {
		width: 79%;
		margin: 0 auto;
		font-weight: 300;
		line-height: 1.5;
		margin-bottom: 28px;
	}
	span {
		display: inline-block;
		width: 100%;
	}
	.marked-gold {
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	.img-holder {
		width: 90px;
		height: 90px;
		margin: 0 auto;
		border-radius: 100%;
		overflow: hidden;
		margin-bottom: 34px;
	}
	.owl-nav {
        font-size: 0px;
        .owl-prev {
            @include animate(transform,
            .1s);
            background-color: transparent;
            position: absolute;
            left: -90px;
            top: 46%;
            transform: translateY(-50%) scale(1) translate3d(0, 0, 0);
            font-size: 0px;
            padding: 0;
            @include media('<1400px') {
                left: 15px;
            }
            @include media('<widescreen') {
                left: -5px;
            }

            &:hover {
                background-color: transparent;
                transform: translateY(-50%) scale(1.1) translate3d(0, 0, 0);
            }
            &:after {
                font-family: icomoon;
                content: "\e901";
                font-size: 57px;
                @include media('<widescreen') {
                    font-size: 50px;
                }
                @include media('<desktop') {
                    font-size: 40px;
                }
                @include media('<tablet') {
                    font-size: 30px;
                }
            }
        }
        .owl-next {
            @include animate(transform,
            .1s);
            background-color: transparent;
            position: absolute;
            right: 0;
            font-size: 0px;
            top: 46%;
            right: -90px;
            transform: translateY(-50%) scale(1) translate3d(0, 0, 0);
            padding: 0;
            @include media('<1400px') {
                left: auto;
                right: 15px;
            }
            @include media('<widescreen') {
                left: auto;
                right: -5px;
            }

            &:hover {
                background-color: transparent;
                transform: translateY(-50%) scale(1.1) translate3d(0, 0, 0);
            }
            &:after {
                font-family: icomoon;
                content: "\e905";
                font-size: 57px;
                @include media('<widescreen') {
                    font-size: 50px;
                }
                @include media('<desktop') {
                    font-size: 40px;
                }
                @include media('<tablet') {
                    font-size: 30px;
                }
            }
        }
    }
}