.carousel-wrapper {
	padding: 113px 0;
	background-color: map-get($colors, 'gray-light-2');
	text-align: center;
	h2 {
		margin-bottom: 90px;
	}
	p {
		width: 79%;
		margin: 0 auto;
		font-weight: 300;
		line-height: 1.5;
		margin-bottom: 28px;
	}
	span {
		display: inline-block;
		width: 100%;
	}
	.marked-gold {
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	.img-holder {
		width: 90px;
		height: 90px;
		margin: 0 auto;
		border-radius: 100%;
		overflow: hidden;
		margin-bottom: 34px;
	}
	.owl-nav {
        font-size: 0px;
        .owl-prev {
            @include animate(opacity, .3s);
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            font-size: 0px;
            padding: 0;
            &:hover {
                opacity: .7;
            }
            &:after {
                font-family: icomoon;
                content: "\f053";
                font-size: 24px;
            }
        }
        .owl-next {
            @include animate(opacity, .3s);
            position: absolute;
            font-size: 0px;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            padding: 0;
            @include media('<widescreen') {
                left: auto;
                right: -5px;
            }
            &:hover {
                opacity: .7;
            }
            &:after {
                font-family: icomoon;
                content: "\f054";
                font-size: 24px;
            }
        }
    }
}