#wrapper{
	overflow: hidden;		
}
.container{
	@extend %clearfix;
	max-width: 1153px;
	width: 100%;
	margin: 0 auto;
	padding:0 15px;
}

.marked-gold {
	color: map-get($colors, 'gold');
}

.decorated {
	position: relative;
	&:after {
		content: '';
		position: absolute;
		bottom: -25px;
		left: 50%;
		transform: translateX(-50%);
		width: 78px;
		height: 2px;
		background-color: map-get($colors, 'gold');
		@include media('<tablet') {
           bottom: -15px;
        }
	}
}