#footer {
	padding-top: 74px; 
	color: map-get($colors, 'gray');
	background-color: map-get($colors, 'black-2');
	line-height: 1.6;
	@include media('<widescreen') {
		padding-top: 50px;
	}
	@include media('<tablet') {
		padding-top: 35px;
	}
	a {
		color: inherit;
		text-decoration: none;
	}
	address {
		margin-bottom: 20px;
		font-style: normal;
		@include media('<tablet')  {
			margin-bottom: 10px;
		}
	}

	.soc-icons {
		@extend %listreset;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding: 0;
		li {
			padding-left: 11px;
			&:last-child {
				i {

				}
			}
		}
		i {
			background: transparent;
			border: 1px solid map-get($colors, 'gray');
		}
		a:hover {
			i {
				border: 1px solid map-get($colors, 'gold');
				color: map-get($colors, 'white');
				background-color: map-get($colors, 'gold');
			}
		}
	}
}

.column-title {
	display: inline-block;
	color: map-get($colors, 'gold');
	font-weight: 600;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	margin-bottom: 20px;
	@include media('<tablet') {
		margin-bottom: 10px;
	}
}

.columns-holder {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 36px;
	@include media('<tablet') {
		flex-wrap: wrap;
		justify-content: flex-start;
		margin-bottom: 20px;
	}
}
.text-column {
	max-width: 310px;
	padding-right: 30px;
}
.contact-column {
	max-width: 205px;
}
.form-column {
	max-width: 299px;
}

.text-column, .contact-column, .form-column {
	@include media('<widescreen') {
        max-width: 30%;
    }
	@include media('<tablet') {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }
}

.form-control {
	@include animate(box-shadow, .3s)
	width: 100%;
	line-height: 24px;
	background: transparent;
	border: 0;
	border: 1px solid map-get($colors, 'gray');
	outline: 0;
	margin-bottom: 10px;
	color: map-get($colors, 'gray');
	&:focus {
		box-shadow: 0 0 2px map-get($colors, 'white');
	}
	@include placeholder {
		color: map-get($colors, 'gray');
		letter-spacing: 1px;
	}
}

.footer-bottom {
	padding: 15px 0;
	background-color: map-get($colors, 'black-1');
	.footer-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.copyright {
	font-size: 12px;
}