#header {
	background-color: map-get($colors, 'black');
}

.main-nav {
	display: flex;
	max-width: 1358px;
	margin: 0 auto;
	width: 100%;
	height: 100px;
	align-items: center;
	justify-content: space-between;
	@include media('<1600px') {
		max-width: 1153px;
		padding: 0 15px;
	}
	@include media('<tablet') {
		height: 50px;
	}
}

.logo-holder {
	@include animate(opacity, .3s)
	display: block;
	margin-left: 7px;
	width: 151px;
	height: 23px;
	img {
		width: 100%;
		height: auto;
		display: block;
	}
	&:hover {
		opacity: .8;
	}
}

.nav-list {
	@extend %listreset;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	transform: translateX(50px);
	@include media('<1600px') {
		transform: translateX(0);
	}
    @include media('<tablet') {
    	@include animate(right, .3s);
        width: 220px;
        position: fixed;
        flex-wrap: wrap;
		padding: 20px;
		top: 50px;
        right: -100%;
        background-color: map-get($colors, 'black-1');
        z-index: 3;
    }
	li {
		padding-right: 36px;
		@include media('<widescreen') {
			padding-right: 18px;
		}
		@include media('<tablet') {
			width: 100%;
			padding: 0;
			margin-bottom: 15px;
			text-align: right;
		}
		&:last-child {
			padding: 0;
		}
		&.active {
			a:before {
				opacity: 1;
				@include media('<tablet') {
					display: none;
				}
			}
			@include media('<tablet') {
				a {
					color: map-get($colors, 'gold');
				}
			}

		}
	}
	a {
		display: inline-block;
		position: relative;
		padding: 0 15px;
		text-transform: uppercase;
		text-decoration: none;
		color: map-get($colors, 'white');
		letter-spacing: 0.6px;
		&:before {
			@include animate(opacity, .3s)
			content: '';
			position: absolute;
			left: 0;
			bottom: -41px;
			height: 2px;
			width: 100%;
			background-color: map-get($colors, 'gold');
			opacity: 0;
			@include media('<tablet') {
				display: none;
			}
		}
		&:focus:hover {
			&:before {
				opacity: 1;
			}
			@include media('<tablet') {
				color: map-get($colors, 'gold');
			}
		}
	}
}

.m-nav-opener {
		display: none;
		position: relative;
		color: map-get($colors, 'gold');
		padding-left: 30px;
		line-height: 30px;
		&:before {
		content: '\2630';
		font-size: 30px;
		position: absolute;
		left: 0;
		color: map-get($colors, 'gold');
	}
	@include media('<tablet') {
		display: block;
	}
}

.nav-open {
	.nav-list {
		right: 0;
	}
	.m-nav-close {
		display: block;
	}
}

.m-nav-close {
	display: none;
	position: absolute;
	width: 34px !important;
	top: 0;
	left: 0;
	padding: 10px !important;
	text-align: left !important;
	font-size: 24px;
	line-height: 1;
	color: map-get($colors, 'white');
	z-index: 10;
}

.header-bottom {
	height: 284px;
	padding-top: 82px;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	position: relative;
	@include media('<desktop') {
			height: 200px;
		}
	@include media('<tablet') {
			height: 160px;
		}
	@include media('retina2x') {
			background-image:url(../images/header-banner_2x.jpg);
		}
	.title-holder {
		width: 100%;
		max-width: 1358px;
		margin: 0 auto;
		@include media('<1600px') {
		max-width: 1153px;
		padding: 0 15px;
		}
	}		
	h1 {
		width: 100%;
		color: map-get($colors, 'white');
		text-transform: uppercase;
		position: relative;
		letter-spacing: 0.5px;
		z-index: 1;
	}
	&:after {
    	content: "";
    	position: absolute;
    	background-color: rgba(36, 40, 47, .96);
    	top: 0;
    	left: 0;
    	bottom: 0;
    	right: 0;
    }
}
